<div class="container" id="contact">
  <div class="row">
    <div class="heading text-center d-none">
      <h2>{{ .Site.Params.contact.title }}</h2>
    </div>

    <div class="col-12">
      <div class="row align-items-center">
        {{ range .Site.Data.contact }}

        <div class="col-md-12 d-none">
          <div class="row">
            <div class="col-md-8">
              <h3>{{ .title | safeHTML }}</h3>
              <p>{{ .description | safeHTML }}</p>
            </div>
            <div class="col-md-3  offset-md-1">
              <h4>{{ .subtitle | safeHTML }}</h4>
              {{ with .address1 }}
              <p class="mt-4 mb-0">{{ . }}</p>
              {{ end }}
              {{ with .address2 }}
              <p>{{ . }}</p>
              {{ end }}
              <span>Tel: {{ .tel | safeHTML }}</span><br>
              <span>Email: <a href="{{ .emailurl | safeHTML }}"> {{ .email | safeHTML}}</a></span>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <form id="fs-frm" name="simple-contact-form" accept-charset="utf-8"
            action="https://formspree.io/f/{{ .Site.Params.formspreekey }}" method="post">
            <fieldset id="fs-frm-inputs">
              <div class="row">
                <div class="col-12 col-md-6">
                  <input type="text" name="name" id="full-name" placeholder="Name*" required="">
                </div>
                <div class="col-12 col-md-6">
                  <input type="email" name="_replyto" id="email-address" placeholder="Email*" required="">
                </div>
                <div class="col-12">
                  <input type="tel" id="phone" autocomplete="tel" name="contact[Phone number]" pattern="[0-9\-]*"
                    value="" placeholder="Phone number">
                </div>
                <div class="col-12">
                  <textarea rows="5" name="comment" id="comment" placeholder="Comment"></textarea>
                </div>
              </div>
            </fieldset>
            <input type="submit" class="btn btn-default" value="Submit">
          </form>
        </div>
        {{ end }}
      </div>
    </div>
  </div>


  <!-- /.row -->
</div>


<style>
  #fs-frm input,
  #fs-frm select,
  #fs-frm textarea,
  #fs-frm fieldset,
  #fs-frm optgroup,
  #fs-frm label,
  #fs-frm #card-element:disabled {
    font-family: inherit;
    font-size: 100%;
    color: inherit;
    border: none;
    border-radius: 0;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
  }

  #fs-frm label,
  #fs-frm legend,
  #fs-frm ::placeholder {
    font-size: .825rem;
    margin-bottom: .5rem;
    padding-top: .2rem;
    display: flex;
    align-items: baseline;
  }

  /* border, padding, margin, width */
  #fs-frm input,
  #fs-frm select,
  #fs-frm textarea,
  #fs-frm #card-element {
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(255, 255, 255, 0.9);
    padding: .75em 1rem;
    margin-bottom: 1.5rem;
  }

  #fs-frm input:focus,
  #fs-frm select:focus,
  #fs-frm textarea:focus {
    background-color: white;
    outline-style: solid;
    outline-width: thin;
    outline-color: gray;
    outline-offset: -1px;
  }

  #fs-frm [type="text"],
  #fs-frm [type="email"] {
    width: 100%;
  }

  #fs-frm [type="button"],
  #fs-frm [type="submit"],
  #fs-frm [type="reset"] {
    width: auto;
    cursor: pointer;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
  }

  #fs-frm [type="button"]:focus,
  #fs-frm [type="submit"]:focus,
  #fs-frm [type="reset"]:focus {
    outline: none;
  }

  #fs-frm [type="submit"],
  #fs-frm [type="reset"] {
    margin-bottom: 0;
  }

  #fs-frm select {
    text-transform: none;
  }

  #fs-frm [type="checkbox"] {
    -webkit-appearance: checkbox;
    -moz-appearance: checkbox;
    appearance: checkbox;
    display: inline-block;
    width: auto;
    margin: 0 .5em 0 0 !important;
  }

  #fs-frm [type="radio"] {
    -webkit-appearance: radio;
    -moz-appearance: radio;
    appearance: radio;
  }

  /* address, locale */
  #fs-frm fieldset.locale input[name="city"],
  #fs-frm fieldset.locale select[name="state"],
  #fs-frm fieldset.locale input[name="postal-code"] {
    display: inline;
  }

  #fs-frm fieldset.locale input[name="city"] {
    width: 52%;
  }

  #fs-frm fieldset.locale select[name="state"],
  #fs-frm fieldset.locale input[name="postal-code"] {
    width: 20%;
  }

  #fs-frm fieldset.locale input[name="city"],
  #fs-frm fieldset.locale select[name="state"] {
    margin-right: 3%;
  }
</style>