<div id="footer" class="bg-primary">
   <div class="container text-center">
      <div class="row m-0">
         <div class="col-12 col-md-6">
            <div class="text-start">
               <p class="subtitle text-start text-white">Quick links</p>
               <ul class="ps-0">
                  {{ with .Site.Menus.footer }}
                  {{ $navbar_len := len . }}
                  {{ range $i, $nav_item := . }}
                  <li>
                     <a class="text-secondary-accent" href="{{ $nav_item.URL }}" title="{{ $nav_item.Name }}"
                        style="font-family: Cardo; font-size: 1.5rem; line-height: 32px; padding: 7.5px 0px;">
                        {{ $nav_item.Pre }}{{ $nav_item.Name }}{{ $nav_item.Post }}
                     </a>
                  </li>
                  {{ end }}
                  {{ end }}
               </ul>
            </div>
         </div>
         <div class="col-12 col-md-6">
            <div class="text-start">
               {{ with .Site.Params.footer }}
               <p class="subtitle text-start text-white">{{ .title }}</p>
               <p class="text-secondary">{{ .description }}</p>
               {{ end }}
            </div>
         </div>
      </div>
   </div>
   <div class="text-center p-2 mostftr">
      <div class="container">
         {{ with .Site.Params.footer }}
         <div>
            <a href="{{ .url | absURL }}" title="{{ .text }}"><small class="text-secondary">{{ .text }}</small></a>
         </div>
         {{ end }}
      </div>
   </div>
</div>