<style>
   .home-banner {
      position: relative;
      overflow: hidden;
   }
</style>
<section class="m-0 p-0">
   <div class="home-hero">

      <!-- Background image -->
      <div class="text-center bg-image" style="
           background-image: url('/img/home-banner.webp');
           margin-top: 0;
           background-repeat: no-repeat;
           background-position: center;
           background-size: cover;
           ">

         <div class="mask" style="aspect-ratio: 2;">

            <div class="herotitlesection">
               <div class="m-auto bg-white p-5 text-center d-none d-md-block" style="max-width: 480px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 90%;">
                  <h2 class="text-center">Scenting has never been easier</h2>
                  <a class="btn btn-default" title="Scent your Sanctuary" href="/aroma-oils/">Scent your Sanctuary</a>
               </div>
            </div>

         </div>
      </div>
      <!-- Background image -->
   </div>