<!DOCTYPE html>
<html lang="{{ .Site.Params.lang }}">
{{- partial "head.html" . -}}
{{ if or (.Params.math) (.Site.Params.math) }}
{{- partial "math.html" . -}}
{{ end }}

<head>
   {{ partial "header.html" . }}
</head>

<body id="backtop">
   <div class="main">
      {{ partial "breadcrumbs.html" . }}

      <div class="container">
         <div class="row">
            <div class="col-12">
               <h3>
                  What is Flewid Friendly's Phone Number?
               </h3>
               <p>
                  Our Telephone number is +1 613 518 7379
               </p>
               <h3>
                  Where is Flewid Friendly Located?
               </h3>
               <p>
                  We’re located in Ottawa, Canada!
               </p>
               <h3>
                  What is Flewid Friendly's Email Address?
               </h3>
               <p>
                  Our email is contact@flewidfriendly.com
               </p>
               <h3>What are your straws made of?</h3>
               <p>90% Rice Flour, 10% Cassava Flour</p>
               <h3>How much do your straws cost?</h3>
               <p>They are $9.99 USD for a box. Check back often for sales!</p>
               <h3>Are the Flewid Friendly Drinking Straws Gluten Free?</h3>
               <p>Yes, they are 100% gluten-free!</p>
               <h3>What about the packaging used? Is it environmentally friendly?</h3>
               <p>Absolutely. You can recycle the paper box, as well as the interior bag around the straws.</p>
               <h3>What is the shelf life of the straws?</h3>
               <p>An unopened box will last for two years in your pantry! Each box has its own expiry date for you to
                  keep an eye on.</p>
               <h3>Do you have any other products?</h3>
               <p>We’re developing some more products, check back often for updates.</p>
               <h3>You say they are edible, how can I eat them?</h3>
               <p>You can boil them for approximately 5 minutes similar to regular noodles and use them in a dish of
                  your choice!</p>
               <h3>Do the straws have a taste?</h3>
               <p>Nope, even in water!</p>
               <h3>What is the powder on the inside of the straws when I first open them?</h3>
               <p>This is from them being cut at our factory and is nothing to worry about, it’s just ‘straw dust’!</p>
               <h3>How long do they last in cold beverages?</h3>
               <p>They will last approximately 1 hour or more in a cold beverage!</p>
               <h3>How long do they last in warm/hot beverages?</h3>
               <p>They will last approx 15-20 minutes in a hot beverage, depending on the temperature.</p>
               <h3>Do the straws contain any calories? If so how many?</h3>
               <p>Yes, there is a very small amount of calories in the straws. Each straw contains just 17 calories.</p>
               <h3>What is the serving size of your straws, or how many can I use in a day?</h3>
               <p>Serving size is one straw, depending on your dietary needs you can use as few or as many as you want
                  on any given day!</p>
               <h3>What do I do with the straw when I am done?</h3>
               <p>The best option is to compost it, but you can also eat it if you want!</p>
               <h3>How long until they become unusable after I've put them in a drink?</h3>
               <p>It depends on the temperature of the liquid. For cold drinks, over an hour is usually fine the colder
                  the better! For warm drinks depending on the temperature, they usually last 10-25 minutes.</p>
               <h3>Where do you ship to?</h3>
               <p>Website orders ship through Canada Post to anywhere in the world.</p>
               <h3>How do you ship with Amazon?</h3>
               <p>We use Amazon’s Prime Delivery so you can get your straws quickly!</p>
               <h3>What if my straws are broken?</h3>
               <p>Due to the nature of the product, we understand that sometimes things happen. If your box has more
                  than 5 straws broken contact us and we’ll get you a replacement.</p>
               <h3>Do you accept returns?</h3>
               <p>Due to the nature of the product, and being a consumable. We cannot accept returns of opened packages.
                  If it is unopened then please don’t hesitate to contact us.</p>
               <h3>Do you offer wholesale pricing?</h3>
               <p>Absolutely. Contact us for more information and to discuss details.</p>
            </div>
         </div>
      </div>

      <div class="backtotop"><a href="#backtop" aria-label="Back to Top Button"><i class="fa fa-chevron-up"></i></a>
      </div>
   </div>
   {{- partial "footer.html" . -}}
</body>

</html>