<style>
   .home-banner {
      position: relative;
      overflow: hidden;
   }
</style>

<section class="p-0">
   <img src="/img/home-banner.webp" alt="Home Banner" width="100%">
   <div class="m-auto bg-white p-5 text-center d-none d-md-block"
      style="max-width: 480px; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 90%;">
      <h2 class="text-center">Scenting has never been easier</h2>
      <button class="btn btn-default">
         Scent your Sanctuary
      </button>
   </div>
</section>